<div class="IndexPage-toolbar">
    <ul class="IndexPage-toolbar-view">
        <li class="item-sort">
            <div class="ButtonGroup Dropdown dropdown  itemCount4"><button class="Dropdown-toggle Button"
                    data-toggle="dropdown"><span class="Button-label">Latest</span><i
                        class="icon fas fa-caret-down Button-caret"></i></button>
                <ul class="Dropdown-menu dropdown-menu ">
                    <li class=""><button active="" type="button" title="Latest" class="hasIcon"><i
                                class="icon fas fa-check Button-icon"></i><span
                                class="Button-label">Latest</span></button></li>
                    <li class=""><button type="button" title="Top" class="hasIcon"><span
                                class="Button-label">Top</span></button></li>
                    <li class=""><button type="button" title="Newest" class="hasIcon"><span
                                class="Button-label">Newest</span></button></li>
                    <li class=""><button type="button" title="Oldest" class="hasIcon"><span
                                class="Button-label">Oldest</span></button></li>
                </ul>
            </div>
        </li>
    </ul>
    <ul class="IndexPage-toolbar-action"></ul>
</div>


<div class="DiscussionList">
    <ul class="DiscussionList-discussions">
        <li *ngFor="let item of data">test </li>
    </ul>
</div>